<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		
        {{!-- Google Fonts Link --}}
        <link href="https://fonts.googleapis.com/css?family=Cherry+Cream+Soda" rel="stylesheet">

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <link rel="stylesheet" src="../../public/assets/css/burger_style.css" type="text/css" />
        
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Burgers!</title>
		{{!-- <script src="https://code.jquery.com/jquery.js"></script> --}}
		{{!-- <script src="../../server.js"></script> --}}
	</head>
	<body>
        <img src="/assets/img/Krabby_Patty_transparentpng.png" id="burger_pic" width="194px">

		{{{ body }}}

	</body>
</html>